.value-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
}

.slider-track {
    display: flex;
    justify-content: space-between;
    width: 90%;
    position: relative;
    padding: 5px;
    border-radius: 3px;
}

.slider-point {
    cursor: pointer;
    width: 30px;
    height: 30px;
    padding: 5px 10px;
    border-radius: 50%;
    text-align: center;
    user-select: none;
    background-color: #484747;
    color: #ffffff;
    transition: all 0.2s;
}

.slider-point.active {
    background-color: #656565;
    color: #fff;
    transform: scale(1.2);
}
